
<div class="row">
    <div class="col s12 m8">
        <h3>{{story.title}}
            <small>{{{editIcon story.user user story._id false}}}</small>
            <small>{{{deleteIcon story.user user story._id false}}}</small>
        </h3>
        <div class="card blue-grey darken-1 story">
            <div class="card-content white-text">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{story.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card  teal darken-1 center-align">
            <div class="card-content">
                <span class="card-title">{{story.user.displayName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/profile/{{story.user._id}}">View Profile</a>
            </div>
        </div>
    </div>
</div>
<br>
<h4>Comments</h4>
<hr>
<div class="row">
    <form action="/stories/{{story._id}}/comment/{{comment._id}}" class="col s12" method="POST">    
        <input type="hidden" name="_method" value="PUT">
        <p>Comment as {{name}}</p>
        <div class="input-field col s6">
            <textarea id="body" name="body">{{comment.body}}</textarea>
        </div>
        <div class="input-field col s6">
            <input class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">
        </div>
        <div class="input-field col s6">
            <a href="/stories/{{story._id}}" class="btn btn-large orange waves-effect waves-light">Cancel</a>
        </div>
    </form>
</div>
<hr>
<br>
{{#if story.comments}}
{{#each story.comments}}
<br>
<div class="row">
    <div class="col s12 m6">
        <div class="card hoverable blue-grey darken-1">
            <div class="card-image">
                {{{editComment user ../user ../story._id _id}}}
            </div>
            {{{deleteComment user ../user ../story._id _id}}}
            <div class="card-content white-text">
                <span class="card-title"><a class='white1' href="/profile/{{user._id}}">{{user.displayName}}</a></span>
                <p>{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</p>
                <div class="card-action"></div>
                <p>{{StripScripts body}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<br>
<p>No comments. Comment now and contribute to the conversation!</p>
<br><br><br>
{{/if}}